@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    color : #fff;
}
.banner{
    width : 100vw;
    height : 50rem;
    background-image: url('../assets/bannernfc.png') !important;
    background-size: contain;
    background-position: right center;
    background-repeat : no-repeat;
}
.container-fluid{
    width : 100vw;
    margin : 0px;
    padding : 0px;
    margin-bottom : 30px;
}
.banner-content{
    background : transparent;
    color : white;
    padding-top : 10%;
    z-index : 999;
}
.banner-title{
    background : transparent;
    font-size : 40px;
    padding-left : 40px;
}
.banner-subheading{
    background : transparent;
    font-size : 25px;
    font-family: 'Montserrat', sans-serif;
    padding-left : 40px;
}
.banner-desc{
    background : transparent;
    width : 40vw;
    margin-top: 20px;
    font-size : 16px;
    padding-left : 40px;
    color: #bdbcbc;
}
.banner-btn{
    background : transparent;
    display : flex;
    margin-top: 20px;
    padding-bottom : 5px;
    padding-left : 40px;
}
.coffee-btn{
    background-color : #E50914; 
    border : none;
    padding : 5px 25px 5px 25px;
    font-size : 20px;
    margin-right : 10px; 
    transition : all 0.4s ease-in-out;
}
.coffee-icon{
    background : transparent;
    margin-bottom : 4px;
    padding-right : 4px;
    font-size : 24px;
}
.coffee-btn:hover{
    background-color : #d3040e;
    color: white;
}
.more-btn{
    color : #ececec;
    font-size : 16px;
    background: transparent;
    border: 1.5px solid #acaaaa;
}
.more-btn:hover{
    color : white;
}
.mylist-icon{
    background : transparent;
    padding-right : 4px;
    margin-bottom : 4px;
    color : #ececec;
}
.info-btn{
    display: none;
}
.info-icon{
    display: none;
}
.banner-footer{
    height : 13rem;
    width : 100vw;
    position : relative;
    top : 37rem;
    background : transparent;
    background-image : linear-gradient(180deg, transparent, #0f0f0fc4, #000);
}

.banner-overlay{
    width : 60vw;
    height : 50rem;
    position: absolute;
    left : 0;
    top : 0px;
    background: transparent;
    background-image: linear-gradient(to right,#000,#0c0c0c,transparent);
}
/* @media screen and (min-width: 2560px){
    .banner{
        background-size: contain;
        height : 100rem;
        background-position: right center;
        background-repeat : no-repeat;
    }
    .banner-overlay{
        width : 80rem;
        height : 100rem;
        position: absolute;
        left : 30%;
        top : 0px;
    }
    .banner-footer{
        top: 75rem;
        width: 75%;
        height: 25rem;
        left: 25%;
    }
} */
@media screen and (min-width: 1440px){
    .banner{
        background-size: contain;
        height : 50rem;
        background-position: right center;
        background-repeat : no-repeat;
    }
    .banner-overlay{
        width : 80rem;
        height : 50rem;
        position: absolute;
        left : 15%;
        top : 0px;
        background: transparent;
        background-image: linear-gradient(to right,#000,#0c0c0c,transparent);
    }
    .banner-footer{
        width: 85%;
        left: 15%;
        top: 38rem;
    }
}
@media screen and (max-width: 1024px){
    .banner-footer{
        top : 37.3rem;
    }
}

@media screen and (max-width: 430px){
    .banner{
        height : 60rem;
        background-image: url('../assets/bannermobile.png') !important;
        background-size: cover;
        background-position: center center;
        background-repeat : no-repeat;
    }
    .banner-overlay{
        display: none;
    }
    .banner-title{
        width: 100%;
        background : transparent;
        font-size : 32px;
        font-weight: 550;
        letter-spacing: 0.12cm;
        word-spacing: 0.15cm;
        padding-left : 0px;
        text-align: center;
        padding-top: 5px;
        line-height: 35px;
    }
    .banner-subheading{
        background : transparent;
        font-size : 18px;
        padding: 0;
    }
    .banner-desc{
        display: none;
    }
    .banner-content{
        background : transparent;
        color : white;
        position: relative;
        top : 60%;
        text-align: center;
        z-index : 999;
    }
    .banner-footer{
        height: 24rem;
        top : 37rem;
        background-image : linear-gradient(180deg, transparent, #080808da, #000);
    }
    .coffee-btn{
        margin-top: 15px;
        padding : 5px 15px 5px 15px;
        font-size : 16px;
        font-weight: bolder;
    }
    .coffee-icon{
        padding-top: 2px;
        font-size : 22px;
    }
    .more-btn{
        font-size : 12px;
        border: none;
    }
    .mylist-icon{
        display: block;
        margin: auto;
        font-size: 20px;
    }
    .info-btn{
        display: block;
        color : #cecece;
        font-size : 12px;
        border: none;
        background: transparent;
    }
    .info-icon{
        background : transparent;
        padding-right : 4px;
        margin-bottom : 4px;
        display: block;
        margin: auto;
        font-size: 20px;
    }
    .banner-btn{
        flex-direction: row-reverse;
        width: 80%;
        margin-top: 10px;
        margin-top: 10px;
        padding: 0px;
        margin: auto;
        justify-content: space-around;
    }
}
@media screen and (max-width: 360px){
    .banner-btn{
        margin-top: 10px;
        width: 100%;
    }
    .banner-title{
        letter-spacing: 0.09cm;
        word-spacing: 1.8px;
    }
    .banner-subheading{
        background : transparent;
        font-size : 18px;
    }
}