@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}
.episode-box{
    display: flex;
    flex-direction: row;
    padding : 10px 10px;
    border-radius: 8px;
}
.episode-details-wrapper{
    width : 70%;
    background-color: #0a0a0a;
}
.episode-details-inner{
    width : 100%;
    background-color: #0a0a0a;
}
.episode-header{
    font-size: 25px;
    padding : 20px 25px;
    background-color: #0a0a0a;
}
.episode-play-btn-wrapper{
    background-color: #0a0a0a;
}
.episode-play-btn{
    font-size: 60px;
    padding : 20px;
    margin-right : 20px;
    border-radius : 50rem;
    background: #e50914;
}
.episode-overview-wrapper{
    font-size: 18px;
    padding : 10px 20px;
    color: #9b9b9b;
    background-color: #0a0a0a;
}
@media screen and (max-width : 440px){
    .episode-details-wrapper{
        width : 100%;
        border: 2px solid #acacac;
        border-radius: 5px;
    }
    .episode-header{
        width : 100%;
        padding-right: 10px;
        padding-bottom: 5px;
        font-size: 18px;
    }
    .season-details-wrapper{
        padding-bottom: 100px;
    }
    .episode-play-btn{
        display: none;
    }

}