.navbar-container{
    width : 100vw;
    background : transparent;
    display : flex;
    justify-content : space-between;
    padding : 20px;
    position : fixed;
    top : 0px;
    z-index : 9999;
    align-items : center;
    transition : background 0.2s ease-in-out;
}
.cypherbyte-logo{
    background : transparent;
    padding-left:20px;
    height : 30px;
    object-fit : contain;
}
.navbar-active{
    background : #000;
}
.caret-wrapper{
    background: transparent;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}
.glyphicon{
    color: white;
    font-size: 12px;
    background: transparent;
}
.glyphicon-search{
    color: #cacaca;
    font-size: 18px;
    padding-right: 20px;
    background-color: transparent;
}
@media screen and (max-width : 440px){
    .cypherbyte-logo{
        height : 35px;
        padding-top: 10px;
    }
    .glyphicon-search{
        font-size: 18px;
        padding-top: 15px;
    }
}
@media screen and (max-width : 360px){
    .navbar-container{
        padding : 15px 8px 15px 8px;
    }
}