*{
    color : #fff;
}
.banner{
    width : 100vw;
    background-size: contain;
    height : 50rem;
    background-position: right 20%;
    background-repeat : no-repeat;
}
.container-fluid{
    width : 100vw;
    margin : 0px;
    padding : 0px;
    margin-bottom : 30px;
}
.banner-content{
    background : transparent;
    color : white;
    padding-top : 10%;
    z-index : 999;
}
.banner-title{
    background : transparent;
    font-size : 40px;
    padding-left : 40px;
}
.movie-desc{
    background : transparent;
    width : 40vw;
    font-size : 16px;
    padding-left : 40px;
    color: #bdbcbc;
}
.banner-btn{
    background : transparent;
    display : flex;
    padding-bottom : 5px;
    padding-left : 40px;
}
.ratings{
    display : flex;
    background : transparent;
    padding-left : 30px;
    align-items : center;
}
.match-percent{
    color: #24ab24;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
    padding-top: 10px;
}
.year{
    color: #acacac;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
    padding-top: 8px;
}
.runtime{
    color: #acacac;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
    padding-top: 8px;
}
.imdb-logo{
    background : transparent;
    height : 40px;
    object-fit : contain;
}
.imdb-star{
    background : transparent;
    height :22px;
    padding-bottom : 4px;
    object-fit : contain;
}
.rating-content{
    background : transparent;
    font-size : 16px;
    margin-bottom : 2px;
}
.play-btn{
    background-color : #E50914; 
    border : none;
    padding : 5px 25px 5px 25px;
    font-size : 20px;
    margin-right : 10px; 
    transition : all 0.4s ease-in-out;
}
.play-icon{
    background : transparent;
    margin-bottom : 4px;
    padding-right : 4px;
    font-size : 24px;
}
.play-btn:hover{
    background-color : #d3040e;
    color: white;
}
.more-btn{
    color : #ececec;
    font-size : 16px;
    background: transparent;
    border: 1.5px solid #acaaaa;
}
.more-btn:hover{
    color : white;
}
.mylist-icon{
    background : transparent;
    padding-right : 4px;
    margin-bottom : 4px;
    color : #ececec;
}
.info-btn{
    display: none;
}
.info-icon{
    display: none;
}
.banner-footer{
    height : 13rem;
    width : 100vw !important;
    position : relative;
    top : 37rem;
    background : transparent;
    background-image : linear-gradient(180deg, transparent, #0f0f0fc4, #000);
}

.banner-overlay{
    width : 60vw;
    height : 50rem;
    position: absolute;
    left : 0;
    top : 0px;
    background: transparent;
    background-image: linear-gradient(to right,#000,#0c0c0c,transparent);
}
@media screen and (min-width: 1440px){
    .banner{
        background-size: contain;
        height : 50rem;
        background-position: right 20%;
        background-repeat : no-repeat;
    }
    .banner-overlay{
        width : 80rem;
        height : 52rem;
        position: absolute;
        left : 10%;
        top : 0px;
        background: transparent;
        background-image: linear-gradient(to right,#000,#0c0c0c,transparent);
    }
    .banner-footer{
        left: 10%;
    }
}
@media screen and (max-width: 430px){
    .banner{
        background-size: cover;
        height : 40rem;
        background-position: center center;
        background-repeat : no-repeat;
    }
    .banner-overlay{
        display: none;
    }
    .banner-title{
        width: 100%;
        background : transparent;
        font-size : 34px;
        font-weight: 550;
        letter-spacing: 0.15cm;
        word-spacing: 0.2cm;
        padding-left : 0px;
        text-align: center;
        padding-top: 5px;
        line-height: 35px;
    }
    .movie-desc{
        display: none;
    }
    .banner-content{
        background : transparent;
        color : white;
        position: relative;
        top : 54%;
        text-align: center;
        z-index : 999;
    }
    .banner-footer{
        height: 18rem;
        top : 22rem;
        background-image : linear-gradient(180deg, transparent, #080808da, #000);
    }
    .play-btn{
        padding : 5px 15px 5px 15px;
        font-size : 16px;
        font-weight: bolder;
    }
    .play-icon{
        padding-top: 2px;
        font-size : 22px;
    }
    .more-btn{
        font-size : 12px;
        border: none;
    }
    .mylist-icon{
        display: block;
        margin: auto;
        font-size: 20px;
    }
    .info-btn{
        display: block;
        color : #cecece;
        font-size : 12px;
        border: none;
        background: transparent;
    }
    .info-icon{
        background : transparent;
        padding-right : 4px;
        margin-bottom : 4px;
        display: block;
        margin: auto;
        font-size: 20px;
    }
    .banner-btn{
        flex-direction: row-reverse;
        width: 80%;
        padding: 0px;
        margin: auto;
        justify-content: space-around;
    }
    .runtime{
        display: none;
    }
    .ratings{
        width : 70%;
        margin: auto;
        padding: 0px;
        justify-content: space-around;

    }
    .match-percent{
        font-size: 14px;
    }
    .year{
        font-size: 14px;
    }
    .imdb-logo{
        height : 30px;
    }
    .imdb-star{
        height :16px;
        padding-left: -5px;
        padding-bottom : 4px;
    }
    .rating-content{
        font-size: 14px;
    }
    
}
@media screen and (max-width: 360px){
    .ratings{
        width : 85%;
    }
    .banner-btn{
        width: 100%;
    }
    .banner-title{
        letter-spacing: 0.12cm;
        word-spacing: 1.8px;
    }
}