*{
    color : #fff;
}
.banner{
    width : 100vw;
    background-size: contain;
    height : 50rem;
    background-position: right 20%;
    background-repeat : no-repeat;
}
.container-fluid{
    width : 100vw;
    margin : 0px;
    padding : 0px;
    margin-bottom : 30px;
}
.banner-content{
    background : transparent;
    color : white;
    padding-top : 10%;
    z-index : 999;
}
.movie-title{
    background : transparent;
    font-size : 40px;
    padding-left : 40px;
}
.movie-desc{
    background : transparent;
    width : 40vw;
    font-size : 16px;
    padding-left : 40px;
    color: #bdbcbc;
}
.banner-btn{
    background : transparent;
    display : flex;
    padding-bottom : 5px;
    padding-left : 40px;
}
.ratings{
    display : flex;
    background : transparent;
    padding-left : 30px;
    align-items : center;
}
.match-percent{
    color: #24ab24;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
    padding-top: 10px;
}
.year{
    color: #acacac;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
    padding-top: 8px;
}
.imdb-logo{
    background : transparent;
    height : 40px;
    object-fit : contain;
}
.imdb-star{
    background : transparent;
    height :22px;
    padding-bottom : 4px;
    object-fit : contain;
}
.rating-content{
    background : transparent;
    font-size : 16px;
    margin-bottom : 2px;
}
.play-btn{
    background-color : #E50914; 
    border : none;
    padding : 5px 25px 5px 25px;
    font-size : 20px;
    margin-right : 10px; 
    transition : all 0.4s ease-in-out;
}
.play-icon{
    background : transparent;
    margin-bottom : 4px;
    padding-right : 4px;
    font-size : 24px;
}
.play-btn:hover{
    background-color : #d3040e;
    color: white;
}
.more-btn{
    color : #ececec;
    font-size : 16px;
    background: transparent;
    border: 1.5px solid #acaaaa;
}
.more-btn:hover{
    color : white;
}
.mylist-icon{
    background : transparent;
    padding-right : 4px;
    margin-bottom : 4px;
    color : #ececec;
}
.banner-footer{
    height : 13rem;
    width : 100vw !important;
    position : relative;
    top : 37rem;
    background : transparent;
    background-image : linear-gradient(180deg, transparent, #0f0f0fc4, #000);
}

.banner-overlay{
    width : 60vw;
    height : 50rem;
    position: absolute;
    left : 0;
    top : 0px;
    background: transparent;
    background-image: linear-gradient(to right,#000,#0c0c0c,transparent);
}
@media screen and (min-width: 1440px){
    .banner{
        background-size: contain;
        height : 50rem;
        background-position: right 20%;
        background-repeat : no-repeat;
    }
    .banner-overlay{
        width : 80rem;
        height : 52rem;
        position: absolute;
        left : 10%;
        top : 0px;
        background: transparent;
        background-image: linear-gradient(to right,#000,#0c0c0c,transparent);
    }
    .banner-footer{
        left: 10%;
    }
}