@import url(//db.onlinewebfonts.com/c/157c6cc36dd65b1b2adc9e7f3329c761?family=Amazon+Ember);
*{
    font-family: "Amazon Ember";
    box-sizing: border-box;
}
.movie-wrapper{
    width: 100vw;
    color: white;
    height : 100vh;
    display: flex;
    flex-direction: row;
}
.movie-des{
    position: relative;
    top : 18%;
    width : 70%;
}
.movie-title{
    position : relative;
    font-size: 35px;
}
.runtime{
    margin-left:5px;
    font-size: 16px;
    color: #acacac;
}
.release-year{
    font-size: 16px;
    width : 60px;
    margin-left:10px;
    object-fit: contain;
    color: #acacac;
}
.logo{
    width : 60px;
    object-fit: contain;
}
.stats-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.star{
    margin-right: 5px;
    width : 15px;
    object-fit: contain;
}
.vote{
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    color: #acacac;
}
.movie-stats{
    width : 100%;
}
.inner-wrapper{
    max-width: 40%;
    margin-left: 35px;
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.series-inner-wrapper{
    max-width: 35%;
    margin-left: 35px;
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.season-dropdown-inner{
    background-color: #282828;
    padding: 5px 8px;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    font-size: 16px;
}
.season-details-wrapper{
    position: relative;
    top : 20%;
    padding-bottom: 80px;
}
.episodes-wrapper{
    width : 98%;
    margin: auto;
}
.movie-overview{
    margin-left: 35px;
    font-size: 16px;
    width : 80%;
    padding-bottom: 20px;
}
.production{
    margin-left: 35px;
    padding-top : 20px;
    font-weight: bold;
}
.directors,.starring,.genres,.language{
    color: #d81f28;
    font-size : 18px;
}
.inner-details{
    font-weight: normal;
    font-size : 18px;
    color: #c5c5c5;
}
.movie-poster-wrapper{
    width : 30%;
    padding-left: 20px;
}
.movie-poster{
    width : 250px;
    top : 20%;
    position: relative;
    object-fit: contain;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width : 72%;
    padding-bottom: 20px;
}
.btn-1{
    margin-left: 35px;
    margin-top: 20px;
    font-size: 22px;
}
.inner-btn-1{
    font-size: 70px;
    padding : 0px 20px;
    margin-right : 10px;
    border-radius : 50rem;
    background: #E50914;
}
.btn-2{
    margin-left: 20px;
    font-size: 22px;
    border : none;
    color : #c5c5c5;
    display: flex;
    align-items: center;
    background-color: #282828;
    border: 1px solid #c4c4c4;
}
a{
    text-decoration: none;
}
.inner-btn-2{
    margin-right : 10px;
    font-size: 22px;
    background-color: transparent;
}
.btn-2:hover{
    background-color: #3a3a3a;
    color : #c5c5c5;
}
.match{
    color: #24ab24;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
}
.episode-bar-wrapper{
    width: 100%;
    height: 50px;
    background-color: #272727;
    margin-bottom: 30px;
    position: sticky;
    display: flex;
    align-items: center;
}
.episode-bar-content{
    font-size: 25px;
    width : 40%;
    margin: auto;
    text-align: center;
    background-color:#272727;
    color: #c2c2c2;
}
@media screen and (min-width : 1440px){
    .inner-wrapper{
        width : 38%;
    }
    .series-inner-wrapper{
        width: 26%;
    }
}